pre {
    border-radius: 3px;
    background-color:#f7f7f7;
    color: inherit;
    line-height: 18px;
    overflow: auto;
    margin-top: 15px;
    padding: 3px;
    /*边框的颜色*/
    /*border: 9px solid #f7fa58;*/
    border-collapse: separate; /* 需要设置为 separate 以支持圆角 */
    border-radius: 8px; /* 根据需要调整圆角的大小 */
}

/*用一个平面实现代码框的三个点*/
pre:before {
    content: " ";
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fc625d; /* 红色 */
    width: 11.5px;
    height: 11.5px;
    left: 12px;
    top: 13px;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b; /* 黄色和绿色的阴影 */
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    z-index: 2;
}

/*代码框（黑）与字体*/
pre > code {
    border: 0;
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    font-size: 18px;
    white-space: pre;
    background: 0 0;
    padding-top: 30px !important; /* 添加字体和内部边框的上边距 */
}

/* 修改行内代码的字体颜色 */
.md-typeset code {
    color: #fc952f !important;  /* 颜色值 */
    /* 边框圆角化*/
    border-radius: 0.3em;
}


/* 浅色模式：覆盖高亮行变量 */
[data-md-color-scheme="default"] {
    --md-code-hl-color--light: #fefded; /* 柔和浅黄色背景 */
    --md-code-hl-color: #ffeb3b; /* 阴影匹配背景 */    
}

/* 深色模式：覆盖高亮行变量 */
[data-md-color-scheme="slate"] {
    --md-code-hl-color--dark: #fcc0a5; /* 深橙棕色背景 */
    --md-code-hl-color: #452110; /* 阴影匹配背景 */
}

/* 高亮行样式 */
.md-typeset .highlight .hll {
    background-color: var(--md-code-hl-color--light, --md-code-hl-color--dark);
    box-shadow: 2px 0 0 0 var(--md-code-hl-color) inset;
    margin: 0 -1.1764705882em;
    padding: 0 1.1764705882em;
}

.md-typeset .highlight .hll .code pre {
    color: var(--md-code-hl-special-color);
}

.md-typeset .highlighttable tr.highlight .linenos {
    background-color: var(--md-code-hl-color--light, --md-code-hl-color--dark);
    color: var(--md-code-hl-number-color);
}

/* 深色模式代码块背景 */
[data-md-color-scheme="slate"] pre {
    background-color: var(--md-code-bg-color);
}